﻿@using SYW.App.Messages.Web.Models
@model SYW.App.Messages.Web.Conversations.ConversationPageModel
@{
	ViewBag.Title = "All Messages";
}
<div class="savings-img"><a id="saving-banner" target="_top" href="http://www.shopyourway.com/todaysdeals">
	<img src=@Model.ImageUrl  alt="savings"/></a></div>
<div class="system-message all-messages">
	@Html.Partial("~/Views/Messages/SystemMessageHeader.cshtml", Model)
	<div class="conversation-container" data-conversation-id="@Model.Conversation.Id.ToString()" data-entity-id="@Model.CurrentEntity.Id.ToString()" data-entity-name="@Model.CurrentEntity.Name" data-entity-image="@Model.CurrentEntity.ImageUrl" style="display: none">
		<span class="tab archive">&nbsp;</span>
		@Html.Partial("~/Views/Messages/SystemMessage.cshtml", new MessageModel { Message = @Model.Conversation.Messages.First(), ConversationId = Model.Conversation.Id })
	</div>
	<div id="messages-preview-scroll" class="scroll-pane">
		<div class="messages-preview-container">
		</div>
	</div>
</div>
