﻿@model SYW.App.Messsages.Domain.DataAccess.Messages.MessageDto

@{
	ViewBag.Title = "Create a message";
}

<h2>Create a message</h2>
Message to: @Model.Content <br/>
Message id: @Model._id <br/>
Message time: @Model.Date <br/>