﻿@using SYW.App.Messages.Web.Services
@using SYW.App.Messsages.Domain.DataAccess.Messages
@using SYW.App.Messsages.Domain.Messages
@model SYW.App.Messages.Web.Models.MessageModel

<div class="message-container" data-message-id="@Model.Message.Id">
	@if (Model.Message.IsUserMessage())
	{
		<div class="entities float">
			<img class="entity-image" data-src="@Model.Message.Author.ImageUrl" />
		</div>
	}
	
	<div class="message">
		@if (Model.Message.IsUserMessage())
		{
			<div class="header">
				<div class="entity-name link float truncate">@Model.Message.Author.Name</div>
				<div class="actions float-right">
					<span class="time">@Model.Message.Date.ToRealTimeString()</span>
				</div>
				<div class="breaker"></div>
			</div>
		} 

		@if (Model.Message.ContentType == MessageContentType.Html)
		{
			<div class="system-message">
				<div class="entities float"><img class="entity-image" data-src="@Model.Message.Author.ImageUrl" alt=""/></div>
				<div class="header relative">
					<span class="description">
						<span class="entity-name">@Model.Message.Author.Name</span>
						<span class="entity-name">&nbsp;-&nbsp;</span>
						<span class="content truncate">@Model.Message.PreviewText</span>
					</span>
				</div>
			</div>
		}
		<pre class="content message-content pre">
			@if (Model.Message.ContentType == MessageContentType.FormattedText) {
				@Html.Raw(Model.Message.Content)
			}
			else
			{
				@Model.Message.Content
			}
		</pre>
	</div>
	<div class="breaker">
	</div>
</div>