﻿@using SYW.App.Messages.Web.Services
@using SYW.App.Messsages.Domain

@model IEnumerable<SYW.App.Messages.Web.Models.MessagePreviewModel>

@if (Model.IsNullOrEmpty())
{
	<div class="all-messages-are-archived">
		You have removed all your messages
	</div>

	return;
}

@foreach (var message in Model)
{
	<div class="message-preview-container @message.Status" data-message-id="@message.MessageId" data-conversation-id="@message.CoversationId" data-is-system-message="@message.IsSystemMessage">
		<div class="new-message-indicator">
		</div>
		<div class="message-preview-image" data-src="@message.ImageUrl">
		</div>
		<div class="message-preview-subject">
			<div class="message-preview-subject-text">
				@(message.IsSystemMessage ? message.Subject : Html.Partial("~/Views/Conversations/Participants.cshtml", message.Participants).ToHtmlString())
			</div>
		</div>
		<div class="message-preview-author">
			@message.AuthorName
		</div>
		<div class="message-preview-time">
			@message.CreatedTime.ToMessagePreivewDateTimeString()
		</div>
	</div>
}