﻿@using SYW.App.Messsages.Domain
@model SYW.App.Messages.Web.Controllers.NewMessageBoxModel

<table class="new-message-box">
	<tr>
		<td class="to-teaser">
			<span>To:</span>
		</td>
		<td class="message">
			<div class="input-container recipients">
				<span class="recipients-area">
					@foreach (var participant in Model.Participants.EmptyIfNull())
					{
						<span class='participant' data-id="@participant.OriginalId">@participant.Name<span class='remove'></span></span>
					}
					<input type="text" class="empty" id="participants" maxlength="2000" value="" />
					@if (Model.Participants.IsNullOrEmpty())
					{
						<span class="watermark">Enter a friend's name</span>
					}
				</span>
			</div>
			<div class="input-container content">
				<textarea id="content" maxlength="2000" class="empty">@Model.Message</textarea>
				@if (string.IsNullOrEmpty(Model.Message))
				{
					<span class="watermark">Write a message....
					</span>
				}
			</div>
		</td>
	</tr>
	<tr>
		<td></td>
		<td>
			<span class="error-message hidden"></span>
		</td>
		<td></td>
	</tr>
</table>
<script type="text/javascript">
	$(function() {
		analyticsReports.report("report-page", { page: "New message dialog", section: "@Model.AppId" });
	});
</script>