﻿@*@model SYW.App.Messages.Web.Models.ProductsModel


@foreach (var product in Model.Products)
{
	<div class="product-container" data-product-id="@product.id">
		<div class="product-image float">
			<img src="@product.imageUrl" />
		</div>
		<div class="product-data-container float">
			<div class="product-name">
				<a href="@product.productUrl" class="entity-name" target="_blank">
					@product.name
				</a>
			</div>
			<div class="product-description">
				@product.description
			</div>
		</div>
		<div class="breaker"></div>
	</div>
}*@