﻿@using SYW.App.Messages.Web.Conversations
@model ConversationPageModel

@{
	ViewBag.Title = "title";
}

<div class="conversation-container" data-conversation-id="@Model.Conversation.Id.ToString()" data-entity-id="@Model.CurrentEntity.Id.ToString()" data-entity-name="@Model.CurrentEntity.Name" data-entity-image="@Model.CurrentEntity.ImageUrl">
	
	<span class="tab archive">&nbsp;</span>
	
	<span class="regular-messages-delete-separator"></span>

	@if (Model.DisplayMoreMessagesTeaser)
	{
		<div class="messages-loader box">
			Load previous messages
		</div>
	}

	<div class="box">
		<div id="messages-scroll" class="scroll-pane">
			<div id="messages-spacer">
			</div>
			<div class="messages">
				@Html.Partial("~/Views/Messages/Messages.cshtml", Model)
			</div>
		</div>
		<div class="new-message-container">
			<table class="new-message-box">
				<tr>
					<td class="entities">
						<img class="entity-image" data-src="@Model.CurrentEntity.ImageUrl" /> 
					</td>
					<td class="message">
						<div class="input-container content">
							<textarea id="content" maxlength="2000"></textarea>
						</div>
					</td>
					<td class="actions">
						<span id="send" class="btn-do" data-conversation-id="@Model.Conversation.Id">send</span>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		analyticsReports.report("report-page", { page: "User Message" });
	});
</script>

@if (Model.IsReadonly)
{
	<script type="text/javascript">
		$('.input-container textarea').remove();
		var inviteLink = '<a target="_top" class="readonly-conversation-invitation-link" href="@Model.InvitationUrl">Invite</a>';
		var message = $('<span class="readonly-conversation-invitation-message">' +
			'Sorry, this email is not associated with a registered user. <br />' +
			inviteLink + ' your friend to join Shop Your Way and start shopping together today!</span>');
		$('.input-container.content').append(message);
		$('#send.btn-do').addClass('disabled');
	</script>
}