﻿@using SYW.App.Messages.Web.Services
@using SYW.App.Messsages.Domain
@using SYW.App.Messsages.Domain.DataAccess.Messages
@using SYW.App.Messsages.Domain.Messages
@model SYW.App.Messages.Web.Models.MessageModel
		   
<div class="message-container" data-message-id="@Model.Message.Id">
	<div class="entities float">
		<img class="entity-image" data-src="@Model.Message.Author.ImageUrl" />
	</div>
	<div class="message">
		<div class="header">
			<div class="entity-name link float truncate">@Model.Message.Author.Name</div>
			<div class="actions float-right">
				<span class="time">@Model.Message.Date.ToRealTimeString()</span>
			</div>
			<div class="breaker">
			</div>
		</div>
		@if (!Model.Message.Content.IsNullOrEmpty())
		{
			if (Model.Message.ContentType == MessageContentType.FormattedText)
			{
				<div class="content message-content">
					@Html.Raw(Model.Message.Content)
				</div>
			}
			else
			{
				<pre class="pre content message-content">
					@Model.Message.Content
				</pre>
			}
		}

		@if (!Model.Message.Attachments.IsNullOrEmpty())
		{
			<div class="message-attachments">
			@foreach (var attachment in Model.Message.Attachments.Where(a => a.IsValid()))
			{
				<div class="message-attachment">
					<a class="attachment-link" target="_blank" href="@attachment.EntityLink">@attachment.EntityName</a>

				@if(!attachment.EntityImageUrl.IsNullOrEmpty())
				{
					<a class="attachment-link-image" target="_blank" href="@attachment.EntityLink"><img class="attachment-image" src="@attachment.EntityImageUrl" alt=""/></a>
				}
				</div>
			}
			</div>
		}

		@if (!string.IsNullOrEmpty(@Model.Message.AttachedImagesUrl))
		{
			<div class="attached-images-container">
				@foreach (var attachedImage in @Model.Message.AttachedImagesUrl.Split(';').Where(x => !string.IsNullOrEmpty(x)))
				{
					<div class="attached-image-container">
						<img class='message-attached-image' src="@attachedImage" alt="Email attachment"/>
					</div>
				}
			</div>
		}
	</div>
	<div class="breaker">
	</div>
</div>