﻿@using SYW.App.Messages.Web.Conversations
@using SYW.App.Messages.Web.Models
@model SYW.App.Messages.Web.Conversations.ConversationPageModel
@{
	ViewBag.Title = "SystemMessage";
}
<div class="system-message">
	@Html.Partial("~/Views/Messages/SystemMessageHeader.cshtml", Model)
	
	<div class="conversation-container" data-conversation-id="@Model.Conversation.Id.ToString()" data-entity-id="@Model.CurrentEntity.Id.ToString()" data-entity-name="@Model.CurrentEntity.Name" data-entity-image="@Model.CurrentEntity.ImageUrl" style="display: none">
		<span class="tab archive">&nbsp;</span>
		@Html.Partial("~/Views/Messages/SystemMessage.cshtml", new MessageModel {Message = @Model.Conversation.Messages.First(), ConversationId = Model.Conversation.Id})
	</div>
	<div id="messages-preview-scroll" class="scroll-pane">
		<div class="messages-preview-container">
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		analyticsReports.report("report-page", { page: "System Message", section: "@Model.Conversation.Participants.First().Name - BAU - @Model.Conversation.Messages.First().Date.ToShortDateString()" });
	});
</script>
@if (!String.IsNullOrEmpty(Model.MessageId))
{
	<script>
		systemMessagesViewModel.MessagePreviewContainerClick('@Model.Conversation.Id', '@Model.MessageId');
	</script>
}