﻿@model SYW.App.Messages.Web.Models.MessageModel
<div>
	<div class="content box">
		<div id="messages-scroll" class="scroll-pane">
			<div id="systemMessageContainer" data-width="@Model.Message.ContentWidth" data-height="@Model.Message.ContentHeight" data-message-id="@Model.Message.Id"></div>
		</div>
	</div>
	<div class="breaker">
	</div>
</div>