﻿@using SYW.App.Messsages.Domain.Conversations
@model SYW.App.Messages.Web.Conversations.ConversationPageModel

<div class="all-messages-header" style="display:@(Model.MessageId == "0" ? "block" : "none") ">
	All Messages
</div>

<div class="header" style="display:@(Model.MessageId == "0" ? "none" : "block") ">
	<img class="entity-image" src="@Model.Conversation.Messages[0].Author.ImageUrl" data-src="" alt=""/>
	<div class="content">
		<div class="entity-name">@Model.Conversation.Messages[0].Author.Name</div>
		<div class="entity-messages-details">
			<span class="total-messages">@Model.TotalMessagesCount</span>
			Messages | 
			<span id="total-unread">@Model.TotalUnreadCount</span>
			Unread
		</div>
	</div>

	<div class="pager" style="display: none">
		<span id="page-right" class="tab action page-right"></span>

		<span class="tab action page-count">
			<span id="current-message">1</span>
			of 
			<span class="total-messages">@Model.TotalMessagesCount</span>
		</span>

		<span id="page-left" class="tab action page-left-disabled">&nbsp;</span>
		<span class="view-all-container">
			<span class="tab action view-all">View All</span>
			<span class="tab action grid-view">&nbsp;</span>
		</span>

	</div>
</div>
