﻿@model SYW.App.Messages.Web.Conversations.ConversationModel

<div class="conversation box @Model.Conversation.Status.ToString().ToLower()"  data-conversation-id="@Model.Conversation.Id.ToString()" data-is-system-message="@Model.Conversation.IsSystemMessage.ToString().ToLower()">
	
	@{
		var firstParticipant = Model.Conversation.Participants.OrderBy(x => x.MemberSince).FirstOrDefault(x => x._id != Model.EntityContext.Id);
		var imageSrc = firstParticipant != null ? firstParticipant.ImageUrl : Model.EntityContext.ImageUrl; //Fallback for the case user send's message to himself.

		<div class="entities float">
			<img class="entity-image" data-src="@imageSrc" />
		</div>
	}
	
	<div class="message">
		<div class="header">
			<div class="entity-name link float truncate">@Html.Partial("~/Views/Conversations/Participants.cshtml", Model.Conversation.Participants)</div>
			<span class="unread-messages-counter">New</span>
			<div class="breaker"></div>
		</div>
	</div>
	<div class="breaker"></div>
</div>