﻿@model SYW.App.Messages.Web.Conversations.ConversationPageModel
<div class="header">

	@if (Model.Conversation != null)
 {
		<img class="entity-image" src="@Model.Conversation.Messages[0].Author.ImageUrl" data-src="" alt=""/>
 }
	<div class="all-messages-back-action"></div>
	<div class="content">
		<div class="all-messages-title">All Messages</div>
		<div class="entity-name">@(Model.Conversation != null ? Model.Conversation.Messages[0].Author.Name : "")</div>
		<div class="entity-messages-details">
			<span class="total-messages"><span class="total-messages-counter">@Model.TotalMessagesCount</span> Messages</span>
			<span class="message-header-details-seperator">|</span>
			<span id="total-unread"><span id="total-unread-counter">@Model.TotalUnreadCount</span> Unread</span>
		</div>
	</div>
	<div class="pager" style="display: none">
		<span id="page-right" class="tab action page-right"></span>

		<span class="tab action page-count">
			<span id="current-message">1</span>
			of 
			<span class="total-messages"><span class="total-messages-counter">@Model.TotalMessagesCount</span></span>
		</span>

		<span id="page-left" class="tab action page-left-disabled">&nbsp;</span>
	</div>
</div>
