﻿@model SYW.App.Messages.Web.Conversations.ConversationsPageModel

@{
	ViewBag.Title = "Messages";
	ViewBag.BodyId = "conversations-page";
}

<div  class="conversations-table">
	<div class="conversations-left">
		<div class="tabs-container" style="position: relative" >
			<span class="tab messages-header">Messages</span>
			<span id="new-message" class="tab messages-actions new-message">+</span>
			<span id="more" class="tab messages-actions more"></span>
		</div>
		<div id="conversations-scroll" class="scroll-pane">
			<span class="conversations-filter-title">By Sender</span>
			<div class="conversations" data-entity-id="@Model.EntityContext.Id">
				@Html.Partial("~/Views/Conversations/EmptyMailbox.cshtml")
			</div>
		</div>
	</div>
	<div class="conversations-right">
		<iframe name ="messages-frame" id="messages-frame" class="messages-frame" frameborder="0" src="/mailbox/all?t=@DateTime.Now.Ticks"></iframe>
	</div>
</div>

<script>
	analyticsReports.report("report-page", { page: "Mailbox" });
</script>