﻿@model SYW.App.Messages.Web.Conversations.ConversationPageModel

@{
	ViewBag.Title = "Conversation";
}

<div class="conversation-wrapper">

	@Html.Partial("~/Views/Conversations/ConversationHeader.cshtml", Model)

	<div class="conversation-container" data-conversation-id="@(Model.Conversation != null ? Model.Conversation.Id.ToString() : string.Empty)" data-entity-id="@Model.CurrentEntity.Id.ToString()" data-entity-name="@Model.CurrentEntity.Name" data-entity-image="@Model.CurrentEntity.ImageUrl" style="display: none;">
		@if (Model.Conversation != null && !Model.Conversation.IsSystemMessage)
		{
			Html.Partial("~/Views/Messages/RegularMessagesContainer.cshtml", Model);
		}
		<div class="breaker conversation-container-end"></div>
	</div>

	<div id="messages-preview-scroll" class="scroll-pane">
        fgxfdghfh
		<div class="messages-preview-container">
			<div class="breaker messages-preview-container-end"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	messagesViewModel.totalUnread = @Model.TotalUnreadCount
</script>
