﻿@model SYW.App.Messages.Web.Conversations.ConversationsPageModel

<div class="conversations-by-sender">
	
	<div class="conversations-container">
		@foreach (var conversation in Model.Conversations)
		{
			Html.RenderPartial("~/Views/Conversations/Conversation.cshtml", conversation);
		}
	</div>
</div>