﻿<div class="container">
	<div class="header">More</div>
	<div class="separator"></div>
	<div id="archiveAll" class="action">Remove all</div>
	<div id="markAllAsRead" class="action">Mark all as read</div>
</div>