﻿
@using SYW.App.Messages.Web.Services.Cms
@model SYW.App.Messages.Web.Models.Cms.BauEmailFeedObjectViewModel

@{
	Layout = null;
}

<div>
	@using (Ajax.BeginForm(Model.TargetActionName, Model.TargetControllerName, new AjaxOptions
																				   {
																					   OnBegin = "BeginPost",
																					   OnSuccess = "SuccessPost",
																					   OnComplete = "FinishedPost",
																					   LoadingElementId = "spinner"
																				   }))
	{
		@Html.HiddenFor(x => x.MessageId, new {id = "message-id"})
		@Html.HiddenFor(x => x.TargetControllerName)
		@Html.HiddenFor(x => x.TargetActionName)

		<div>
			<div>Publisher</div>
			<div>
				@Html.DropDownListFor(x => x.PublisherSelectedId, Model.Publisher)
				<input type="button" value="Preview" id="preview-button" />
				@if (Model.ActionTypes.Contains(ActionType.Create))
				{
					<input id="publish-message" type="submit" value="Publish" />
				}
				@if (Model.ActionTypes.Contains(ActionType.Delete))
				{
					<input type="button" id="delete-system-message" type="submit" value="Delete" />
					<label>Message Id: @Model.MessageId</label>
				}
				<img style="display: none" id="spinner" class="spinner" src="/content/ajax-loader.gif" alt="spinner" />

			</div>
		</div>
		<br />
		<div>
			<div>Title</div>
			<div>@Html.TextBoxFor(x => x.Title, new {id = "title"})</div>
		</div>
		<br />
		<div>
			<div>Body</div>
			<div>
				@Html.TextAreaFor(x => x.Body, new {id = "message-body", cols = "100", rows = "40"})
			</div>
		</div>
		<div id="post-result" class="result" style="background-color: @Model.PostResultColor.Name">@Model.PostResult</div>
	}
</div>