﻿@using System.Web.Mvc.Html

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>System Message CMS</title>
	<link href="/content/cms/system-message.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		@Html.Partial("~/Views/Cms/SystemMessage/_Filter.cshtml")
		<hr />
		@if (string.IsNullOrEmpty(ViewBag.MessageId))
		{
			@Html.Action("SystemMessageCreationView", "SystemMessageView")
		}
		else
		{
			@Html.Action("SystemMessageDeletionView", "SystemMessageView",new RouteValueDictionary(ViewBag.MessageId))
		}

	</div>
	<script src="/scripts/jquery-1.7.2.min.js"></script>
	<script src="/scripts/jquery.unobtrusive-ajax.js"></script>
	<script src="/scripts/cms/system-message.js"></script>
</body>
</html>
