﻿body.mobile
{
	background-color: #E9E7E3;
}

body.mobile .tabs-container
{
	display: none;
}

body.mobile #main
{
	min-height: inherit;
}

body.mobile .new-message-container
{
	display: none;
}

body.mobile .entity-name
{
	width: 150px;
}

body.mobile .message .header .time
{
	font-size: 10px;
}

html
{
	height: 100%;
}

body
{
	background-color: #F1F1F1; /*#E9E7E3*/
	font-family: Trebuchet MS, Verdana, Helvetica, Sans-Serif;
	color: #696969;
	overflow: hidden;
	margin: 0;
	height: 100%;
}

/* Disables chrome focus effect for ALL elements!!! */

*:focus
{
	outline: none;
}

/* Disable IE10 Clear and Reveal icons */

input[type=text]::-ms-clear
{
	display: none;
}

input[type=password]::-ms-reveal
{
	display: none;
}

.message-content
{
	font-family: Trebuchet MS, Verdana, Helvetica, Sans-Serif;
	margin: 0px;
	padding-right: 10px;
}

#main
{
	height: 100%;
	overflow: hidden;
}

ul
{
	margin: 0px;
}

input, textarea
{
	margin: 0px;
	resize: none;
}

textarea:focus, input:focus
{
	outline: none;
}

.relative
{
	position: relative;
}

.float
{
	float: left;
}

.float-right
{
	float: right;
}

.breaker
{
	float: none;
	clear: both;
	height: auto;
}

.hidden
{
	display: none;
}

.input-error
{
	border-color: #CF0000;
}

.error-message
{
	color: #CF0000;
	font-size: 12px;
}

.pre
{
	white-space: pre; /* CSS 2.0 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3.0 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
	white-space: -hp-pre-wrap; /* HP Printers */
	word-wrap: break-word; /* IE 5+ */
}

.conversation .content.truncate
{
	font-size: 13px;
	height: 25px;
	line-height: 15px;
	width: 290px;
}

.truncate
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis; /* required for Opera */
	-ms-text-overflow: ellipsis; /* required for IE8, allegedly 

*/
	-moz-binding: url('ellipsis.xml#ellipsis'); /* for Firefox; 

details here */
}

a
{
	color: #696969;
	text-decoration: none;
}

.entity-name
{
	color: #252525;
	font-size: 18px;
	height: 18px;
	line-height: 17px;
}

.loader-container
{
	margin-top: 3px;
	padding-top: 10px;
	text-align: center;
	background-color: #E9E7E3;
}

.loader
{
	display: inline-block;
	width: 16px;
	height: 11px;
	background-image: url('/Content/ajax-loader.gif');
}

.loader-container.white
{
	background-color: white;
}

.loader-container.white .loader
{
	background-image: url('/Content/ajax-loader-white.gif');
}

.iframe-content-type
{
	display: none;
}

.btn-do
{
	-moz-box-orient: vertical;
	background-color: #F17F21;
	border: 1px solid #BB651E;
	border-radius: 4px 4px 4px 4px;
	color: white;
	cursor: pointer;
	display: inline-block;
	height: 18px;
	line-height: 18px;
	padding: 1px 5px 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;
}

.btn-do.disabled
{
	background-color: #AEA7A2;
	border-color: #8D867F;
	cursor: default;
}

.btn-cancel
{
	height: 18px;
	line-height: 18px;
	border: solid 1px #8D867F;
	border-radius: 4px;
	color: #FFF;
	padding: 1px 4px 2px 3px;
	cursor: pointer;
	text-decoration: none;
	background-color: #AEA7A2;
	text-transform: uppercase;
	display: -moz-inline-box;
	-moz-box-orient: vertical;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.tab
{
	display: inline-block;
	font-size: 18px;
}

.tab.selected
{
	color: #000000;
	background-color: #E9E7E3;
	text-decoration: none;
}

.tab.selected:hover
{
	text-decoration: none;
}

.safari-conversation-box, .conversation-container
{
	background-color: #F1F1F1; /*#E9E7E3;*/
	padding: 10px;
}

.box
{
	background-color: #FFFFFF;
	border-bottom: solid 1px #D1CFCB;
	clear: none;
	height: 50px;
	padding: 10px;
	display: block;
}

.conversation.box
{
	position: relative;
	border: none;
	padding: 0px;
	height: 30px;
}

.already-replied
{
	display: inline-block;
	width: 11px;
	height: 11px;
	background-image: url('/Content/sprite.png?v=3');
	background-position: 0px 1px;
}

.conversations
{
	overflow: hidden;
}

.conversations .box:hover .entity-name
{
}

.conversation
{
	background-color: white;
	margin-bottom: 2px;
}

.conversation:hover, .conversation.unread:hover,
.conversation.new:hover
{
	cursor: pointer;
	background-color: #E9E7E3;
}

.conversation.unread, .conversation.new
{
	/*background-color: #F2F1EF*/
}

.conversation.unread .entity-name, .conversation.new .entity-name
{
	font-weight: bold;
}

.conversation.unread .content, .conversation.new .content
{
	font-weight: bold;
	color: #252525;
}

.conversation.selected
{
	background-color: #252525 !important;
	box-shadow: 0 0 #AEAEAE;
	color: white;
}

.conversation.selected .content
{
	color: white;
}

.conversation.selected .entity-name
{
	color: white;
}

.conversation .message
{
	line-height: 30px;
}

.conversation .message .header
{
	height: auto;
	margin-bottom: 0px;
}

.message 
{
	margin-left: 60px;	
}

.message .header
{
	height: 25px;
	margin-bottom: 5px;
}

.message .header .time
{
	font-size: 10px;
	color: #a6a49d;
	vertical-align: middle;
	text-transform: uppercase;
}

.conversation .message .header .actions
{
	position: absolute;
	top: 0;
	right: 30px;
}

.message .header .actions .small-separator
{
	color: #a6a49d;
}

.message .header .actions .archive
{
	vertical-align: bottom;
	display: inline-block;
	width: 10px;
	height: 15px;
	background-image: url('/Content/sprite.png?v=3');
	background-position: 0 -97px;
}

.message .header .actions .archive:hover
{
	background-position: 0 -152px;
}

.conversation .message .header .entity-name
{
	max-width: 125px;
	font-family: Arial;
	font-size: 12px;
	color: #6B6B6B;
	height: 30px;
	line-height: 30px;
}

.conversation .message .content
{
	font-size: 12px;
}

.conversation.box .entities
{
	margin-top: 7px;
	margin-left: 5px;
}

.box .entities
{
	width: 50px;
	height: 50px;
	background-color: white;
	display: block;
	margin-right: 10px;
}

.conversations-container .box .entities
{
	margin-right: 9px;
	width: 16px;
	height: 16px;
	background-color: white;
	display: block;
}

.box .entities .entity-image
{
	width: 16px;
	height: 16px;
}

.box .message-container .entities .entity-image, .box .new-message-container .entities .entity-image
{
	width: 50px;
	height: 50px;
}

.WeeksSeparator
{
	clear: both;
	font-size: 13px;
	font-weight: bold;
	color: #252525;
	line-height: 30px;
}

.all-messages-are-archived
{
	width: 500px;
}

/* New message Content */

.messages-actions
{
	border-left: 1px solid #D8CBBA;
	float: right;
	height: 43px;
	width: 43px;
}

.messages-actions:hover
{
	cursor: pointer;
}

.new-message
{
	font-size: 34px;
	color: #ABA492;
	font-weight: bold;
	text-align: center;
}

.new-message:hover
{
	color: #CF5E00;
}

.more
{
	display: inline-block;
	background-image: url('/Content/sprite.png?v=3');
	background-position: 15px -231px;
}

.more:hover
{
	background-position: 15px -281px;
}

.new-message-box
{
	height: 100%;
}

.new-message-box:hover
{
	cursor: text;
}

.new-message-box .message
{
	width: 100%;
}

.new-message-box .input-container
{
	border: 1px solid #BEBEBE;
	padding: 6px 6px 4px 4px;
	margin-bottom: 5px;
	cursor: default;
	position: relative;
}

.new-message-box .input-container .recipients-area
{
	display: block;
	width: 100%;
	cursor: text;
}

.new-message-box .input-container.recipients
{
	height: 25px;
	overflow-y: scroll;
}

.new-message-box .input-container .watermark
{
	position: absolute;
	top: 9px;
	left: 5px;
	color: #6b6b6b;
}

.new-message-box #participants
{
	height: 18px;
}

.new-message-box #participants, .new-message-box #content
{
	border: none;
	font-family: trebuchet MS;
}

.new-message-box #content
{
	width: 100%;
	height: 100px;
}

.new-message-box .actions
{
	vertical-align: bottom;
	display: inline-block;
	height: 21px;
	padding-top: 65px;
	text-align: right;
	width: 90px;
}

.new-message-box .actions .btn-do
{
	display: inline-block;
	width: 55px;
	margin-right: 5px;
	vertical-align: super;
}

.new-message-box td
{
	vertical-align: top;
}

.new-message-box .to-teaser
{
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 16px;
}

.new-message-box .participant
{
	cursor: default;
	display: inline-block;
	font-weight: normal;
	background-color: #E9E7E3;
	line-height: 15px;
	padding: 4px 0px 4px 4px;
	color: #6B6B6B;
	font-size: 12px;
	margin-right: 3px;
	margin-bottom: 3px;
}

.new-message-box .participant .remove
{
	display: inline-block;
	width: 10px;
	height: 13px;
	background-image: url('/Content/sprite.png?v=3');
	background-position: 0px -187px;
	margin-left: 5px;
}

.new-message-box .participant .remove:hover
{
	cursor: pointer;
}

ul.ui-autocomplete
{
	list-style: none;
	background-color: white;
	border: 1px solid #BEBEBE;
	padding: 0px;
	-moz-box-shadow: rgba(37, 37, 37, 0.44) 1px 7px 18px 1px;
	-webkit-box-shadow: rgba(37, 37, 37, 0.44) 1px 7px 18px 1px;
	-o-box-shadow: rgba(37, 37, 37, 0.44) 1px 7px 18px 1px;
	box-shadow: rgba(37, 37, 37, 0.44) 1px 7px 18px 1px;
}

ul.ui-autocomplete .entity-image
{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	padding-right: 5px;
}

ul.ui-autocomplete li.ui-menu-item a
{
	display: block;
	cursor: pointer;
	padding: 4px 10px 5px 10px;
	line-height: 17px;
	border-top: 1px solid #E9E7E3;
	position: relative;
}

ul.ui-autocomplete li.ui-menu-item a.ui-state-hover
{
	background-color: #E9E7E3;
}

ul.ui-autocomplete li.ui-menu-item a .entity-name
{
	text-decoration: none;
}

ul.ui-autocomplete .entity-image
{
	width: 25px;
	height: 25px;
	vertical-align: middle;
	padding-right: 5px;
}

.conversation-container .box
{
	height: auto;
	padding: 0px;
	box-shadow: 1px 1px 2px #AEAEAE;
}

.conversation-container .box.messages-loader
{
	color: #CF5E00;
	cursor: pointer;
	margin-bottom: 5px;
	text-align: center;
	height: 30px;
	line-height: 30px;
}

.conversation-container .box.messages-loader:hover
{
	background-color: #F3D9C3;
}

.conversation-container .box.messages-loader .loader-container
{
	padding-top: 0px;
}

.new-message-container
{
	background-color: #F8F6F3;
	padding: 12px 7px 7px 7px;
	border-bottom: 1px solid #E9E7E3;
	border-top: 1px solid white;
	color: #6B6B6B;
	height: auto !important;
	line-height: 14px;
	min-height: 48px;
	overflow: hidden;
	position: relative;
}

.conversation-container .message-container
{
	padding: 10px;
}

.conversation-container .message-attachment
{
	margin-bottom: 5px;
}

.conversation-container .attachment-link
{
	text-decoration: underline;
	color: blue;
	display: block;
}

.conversation-container .attachment-link-image
{
  	border-color: black;
  	border-width: 1px;
  	border-style: solid;
  	display: inline-block;
}

.conversation-container .attachment-image
{
	height: 120px;
	width: 120px;
	display: block;
}

.conversation-container .message-container .message .attached-images-container
{
	display: inline-block;
	padding-left: 60px;
}

.conversation-container .message-container .message .attached-images-container .attached-image-container
{
	display: inline-block;
	float: left;
	clear: both;
}


.conversation-container .message-container .message .message-attached-image
{
	max-width: 1100px;
	margin: 10px 10px 10px 0px;
	display: inline-block;
}

.conversation-container .message-container .message .message-attached-image :after
{
	clear: both;
}

.new-message-container .new-message-box
{
	height: 60px;
}

.new-message-container .new-message-box .message
{
	padding-left: 7px;
}

.new-message-container .new-message-box .input-container
{
	background-color: white;
}

.new-message-container .new-message-box .actions
{
	padding-top: 30px;
}

.separator
{
	font-size: 18px;
	padding: 0 2px;
}

.tab.settings
{
	margin-right: 0px;
}

.settings-container
{
	padding: 100px;
}

.settings-container .settings
{
	width: 500px;
	margin: 0px auto;
}

.settings-container .title
{
	font-size: 20px;
}

.settings-container .title img
{
	vertical-align: middle;
}

.settings-container .settings .teaser
{
	line-height: 30px;
	padding-left: 55px;
	margin-bottom: 20px;
}

.settings-container .settings .email
{
	padding-left: 55px;
	margin-bottom: 40px;
}

.settings-container .settings .save-container
{
	text-align: center;
}

.settings-container .settings #email-check-result
{
	background-image: url('/Content/sprite.png?v=3');
	display: inline-block;
	width: 13px;
	height: 20px;
}

.settings-container .settings #email-check-result.empty
{
	background-image: none;
}

.settings-container .settings #email-check-result.bad
{
	background-position: 0px -89px;
}

.settings-container .settings #email-check-result.good
{
	background-position: 0px -49px;
}

.settings-container .settings #email-check-message
{
	color: #ff0000;
	font-size: 12px;
}

.safari-browser-message, .empty-mailbox
{
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	background-color: white;
}

.empty-mailbox
{
	display: none;
}

.empty-mailbox .arrow
{
	display: inline-block;
	background-image: url('/Content/arrow.png');
	width: 35px;
	height: 35px;
	position: absolute;
	top: 19px;
	right: 138px;
}

.tabs-container
{
	height: auto;
	border-bottom: solid 1px #D1CFCB;
	margin-bottom: 2px; /* For the shadow */
	-webkit-box-shadow: 0px 1px 0px rgba(244, 244, 244, 1);
	-moz-box-shadow: 0px 1px 0px rgba(244, 244, 244, 1);
	box-shadow: 0px 1px 0px rgba(244, 244, 244, 1);
}

.tab.messages-header
{
	color: #040607;
	padding: 10px 22px;
	cursor: pointer;
}

.tab.messages-header:hover
{
	text-decoration: none;
}

.conversations-table
{
	border-spacing: 0;
	height: 100%;
}

.conversations-left
{
	width: 232px;
	height: 100%;
	background-color: white;
	float: left;
	-webkit-box-shadow: 1px 0px 4px rgba(184, 184, 184, 1);
	-moz-box-shadow: 1px 0px 4px rgba(184, 184, 184, 1);
	box-shadow: 1px 0px 4px rgba(184, 184, 184, 1);
}

.conversations-right
{
	margin-left: 236px;
	height: 100%;
	background-color: #E9E7E3;
}

.conversations-non-selected
{
	height: 100%;
	width: 100%;
}

.conversations-non-selected .inbox-container
{
	position: relative;
	top: 30%;
	text-align: center;
}

.conversations-non-selected .inbox-image
{
	display: inline-block;
	background-image: url('/Content/inbox.png');
	background-repeat: no-repeat;
	width: 150px;
	height: 132px;
	margin-bottom: 30px;
}

.conversations-non-selected .inbox-text
{
	color: #a6a49d;
	font-size: 22px;
}

.scroll-pane
{
	height: 100%;
	clear: both;
}

#messages-scroll.scroll-pane
{
	/*border-top: 1px #D1CFCB solid;*/
}

.system-message .messages-scroll.scroll-pane
{
	border-top: none;
}

.messages
{
	width: 100%;
}

.messages-frame
{
	height: 100%;
	width: 100%;
	border: 0;
	overflow: hidden;
}

.system-message
{
	margin: 10px 20px;
}

.system-message .header
{
	padding: 10px;
}

.system-message .header .entity-image
{
	width: 30px;
	height: 30px;
	padding: 5px;
	vertical-align: middle;
	border: solid 2px #D1CFCB;
	background-color: #ffffff;
}

.system-message .header .content
{
	display: inline-block;
	vertical-align: middle;
}

.system-message .content.box
{
	padding: 30px;
	border-style: solid;
	border-color: #D1CFCB;
	border-width: 2px 2px 2px 2px;
}

.system-message .entity-name
{
	font-size: 24px;
}

.system-message .entity-messages-details
{
	font-size: 12px;
	color: #252525;
	margin-top: 5px;
	font-weight: bold;
}

.system-message .archive
{
	background-image: url('/Content/sprite.png?v=3');
	background-position: 8px -733px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	float: left;
}

.system-message .archive:hover
{
	background-position: 8px -690px;
}

.system-message .pager
{
	float: right;
	margin-top: 10px;
}

.system-message .pager .action
{
	float: right;
	height: 40px;
	width: 40px;
}

.system-message .pager .page-left
{
	background-image: url('/Content/sprite.png?v=3');
	background-position: 13px -438px;
	cursor: pointer;
}

.system-message .pager .page-left:hover
{
	background-position: 13px -486px;
}

.system-message .pager .page-left-disabled
{
	background-image: url('/Content/sprite.png?v=3');
	background-position: 13px -388px;
}

.system-message .pager .page-right
{
	background-image: url('/Content/sprite.png?v=3');
	background-position: 13px -536px;
	cursor: pointer;
}

.system-message .pager .page-right:hover
{
	background-position: 13px -636px;
}

.system-message .pager .page-right-disabled
{
	background-image: url('/Content/sprite.png?v=3');
	background-position: 13px -586px;
}

.system-message .pager .page-count
{
	min-width: 60px;
	width: auto;
	padding-top: 13px;
	font-size: 14px;
	text-align: center;
}

.system-message .pager .page-count span
{
	font-weight: bold;
}

.system-message .pager .grid-view
{
	width: 40px;
	background-image: url('/Content/sprite.png?v=3');
	background-position: 13px -838px;
	cursor: pointer;
}

.system-message .pager .view-all-container:hover .grid-view
{
	background-position: 13px -785px;
}

.system-message .pager .view-all-container:hover .view-all
{
	color: #CF5E00;
}

.system-message .pager .view-all
{
	width: auto;
	line-height: 14px;
	height: 14px;
	padding-right: 20px;
	margin-top: 14px;
	border-right: 1px solid #A6A49D;
	color: #444;
	font-size: 14px;
	margin-right: 5px;
}

.system-message .pager .view-all:hover
{
	cursor: pointer;
}

.messages-preview-container
{
	padding: 10px;
}

body#new-message-dialog
{
	font-family: Trebuchet MS, Arial;
	font-weight: normal;
	font-size: 12px;
	color: #000;
	background-color: white;
}

#new-message-dialog .entity-name
{
	font-family: Trebuchet MS, Arial;
	font-weight: normal;
	font-size: 12px;
	color: #000;
}

#new-message-dialog input, #new-message-dialog textarea
{
	font-size: 12px;
}

#new-message-dialog .remove
{
	vertical-align: bottom;
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url('/Content/sprite.png?v=3');
	background-position: 0px -97px;
}

#new-message-dialog .remove:hover
{
	background-position: 0px -152px;
}

#new-message-dialog .new-message-box #content
{
	height: 140px;
}

.textbox-shadow
{
	-moz-box-shadow: #d7d7d8 1px 1px 3px 0 inset;
	-webkit-box-shadow: #d7d7d8 1px 1px 3px 0 inset;
	-o-box-shadow: #d7d7d8 1px 1px 3px 0 inset;
	box-shadow: #d7d7d8 1px 1px 3px 0 inset;
}

.new-message-box .input-container.recipients .recipients-area.textbox-shadow
{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.contextual-popover
{
	border: solid 4px #989898 !important;
}

.triangle.top, .triangle.top:before
{
	position: absolute;
	display: block;
	bottom: auto;
	border-style: none dotted solid;
	border-width: 0 12px 16px;
	border-color: transparent;
}

.triangle.top.ie, .triangle.top.ie:before
{
	border-style: none solid solid !important;
}

.triangle.top
{
	border-bottom-color: #989898;
	border-bottom-color: rgba(0, 0, 0, 0.4);
	top: -20px;
	left: 47px;
}

.triangle.top:before
{
	content: "";
	border-bottom-color: #FFFFFF;
	left: -12px;
	top: 8px;
}

.contextual-popover#more-actions
{
	background-color: white;
}

#more-actions
{
	font-size: 14px;
}

#more-actions .container
{
	width: 120px;
}

#more-actions .confirmation-container
{
	width: 220px;
}

#more-actions .container-content
{
	padding: 10px 10px 2px 10px;
}

#more-actions .header
{
	color: #000000;
	margin-bottom: 4px;
}

#more-actions .action
{
	color: #CF5E00;
	font-size: 12px;
	margin-bottom: 8px;
}

#more-actions .action:hover
{
	text-decoration: underline;
	cursor: pointer;
}

#more-actions .content
{
	padding: 5px 0;
	color: #6B6B6B;
	font-size: 12px;
}

#more-actions .footer
{
	padding: 4px;
	text-align: right;
	background-color: #E9E7E3;
}

#more-actions .footer span
{
	padding: 0;
	margin-left: 8px;
	width: 75px;
}

#more-actions .separator
{
	background-image: url('/Content/sprite.png?v=3');
	background-position: 0 -374px;
	background-color: #A6A49D;
	height: 2px;
	margin-bottom: 4px;
}

.backdrop
{
	background-color: transparent;
	position: absolute;
	top: 0;
	width: 100%;
}

.new-message-indicator
{
	background-image: url('/Content/sprite.png?v=6');
	background-position: 0px -906px;
	width: 36px;
	height: 31px;
	position: absolute;
	top: 0px;
	right: 0px;
	display: none;
}

.unread-messages-counter
{
	display: none;
	height: 15px;
	line-height: 17px;
	background-color: #CF5E00;
	color: white;
	text-align: center;
	margin-left: 12px;
	border-radius: 3px;
	font-weight: normal;
	box-shadow: 1px 1px #B8B8B8;
	font-size: 11px;
	font-family: Arial;
	padding: 0 4px;
}

.conversation.new .unread-messages-counter
{
	display: inline-block;
}

.message-preview-container
{
	background: #ffffff;
	border: solid 1px #DCDCDC;
	margin: 0 19px 19px 0;
	display: inline-block;
	width: 208px;
	height: 262px;
	cursor: pointer;
	float: left;
	position: relative;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.message-preview-container:hover
{
	background-color: #f2f1ef;
}

.message-preview-container .message-preview-image
{
	width: 208px;
	height: 166px;
	background-position: center -20px;
	background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-ms-behavior: url(/Scripts/backgroundsizeIE8Fix.min.htc);
}

.message-preview-container .message-preview-image.participant
{
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}

.message-preview-container.Read
{
	border: solid 1px #DCDCDC;
}

.message-preview-container.Read .message-preview-image
{
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.message-preview-container.Read .message-preview-subject
{
	color: #A6A49D;
}

.message-preview-container.Unread .message-preview-subject, .message-preview-container.New .message-preview-subject
{
	color: black;
	font-weight: bold;
}

.message-preview-container.New .new-message-indicator
{
	display: block;
}

.message-preview-container .message-preview-subject
{
	height: 54px;
	font-size: 14px;
	color: #252525;
	margin: 5px 12px 0 12px;
	overflow: hidden;
}

.message-preview-subject-text
{
	height: 54px;
	line-height: 18px;
	display: table-cell;
	vertical-align: middle;
}

.message-preview-container .message-preview-time
{
	margin: 0 12px 0 12px;
	font-size: 10px;
	color: #a6a49d;
	text-transform: uppercase;
	margin-top: 1px;
}

.message-preview-container .message-preview-author
{
	font-size: 11px;
	color: #252525;
	margin: 4px 6px 0 6px;
	padding: 1px 6px 1px 6px;
	border-top: 1px solid #cccccc;
	height: 13px;
}

#messages-preview-scroll
{
	display: none;
}

/* Change this to device width */

@media only screen /*and (min-width : 768px)*/ and (max-width: 1024px)
{
	.conversations-left
	{
		width: 232px;
	}

	.conversations-right
	{
		margin-left: 236px;
	}

	.conversation .message .header .entity-name
	{
		width: 200px;
	}

	.conversation .content.truncate
	{
		width: 190px;
	}

	.message-preview-container
	{
		margin: 0px 10px 10px 0px;
	}

	.conversation-container .message-container .message .message-attached-image
	{
		max-width: 678px !important;
	}
}

@media only screen and (max-width: 768px)
{
	.conversation-container .message-container .message .message-attached-image
	{
		max-width: 422px !important;
	}
}

.conversations-filter-title.ui-state-highlight
{
	background-color: #F3F3F3;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
}

.conversations-filter-title span
{
	margin-left: 18px;
	font-size: 14px;
	font-family: Arial;
}

.conversations-by-sender
{
	margin-left: 18px;
}

.conversations-filter-title
{
	font-family: Arial;
	font-size: 10px;
	color: #A6A49D;
	margin: 0;
	margin-left: 15px;
	display: inline-block;
	background-color: inherit;
}

.conversation-container .archive
{
	background-image: url('/Content/sprite.png?v=3');
	background-position: 8px -733px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	float: left;
	margin-bottom: 2px;
}

.conversation-container .archive:hover
{
	background-position: 8px -690px;
}

.all-messages-header
{
	height: 32px;
	border-bottom: solid 1px #D1CFCB;
	color: #000;
	margin-bottom: 10px;
	padding: 3px 10px 0 10px;
}

.regular-messages-delete-separator
{
	height: 1px;
	border-bottom: 1px solid #ccc;
	display: block;
	float: left;
	width: 100%;
	clear: both;
	margin-bottom: 4px;
}

.readonly-conversation-invitation-link
{
	color:blue; 
	text-decoration:underline;
}

.readonly-conversation-invitation-message
{
	height: 56px;
	line-height: 28px;
	display: block;
}

.savings-img {
    text-align: center;
    margin: 20px auto;
}