﻿@model SYW.App.Messages.Web.Controllers.SettingsModel

<div class="settings-container">
	<div class="settings">
		<div class="title">
			<img src="/Content/support.png"/>
			<span>Create your ShopYourWay email address</span>
		</div>
		<div class="teaser">
			Use your ShopYourWay email address as a single destination for all the online offers, coupons and promotions you receive.
		</div>
		<div class="email">
			Email: <input id="email-input" @(String.IsNullOrEmpty(Model.Email) ? "" : "disabled") type="text" name="email" value="@Model.Email"/><span>@Model.EmailDomain</span>
			<span id="email-check-result" class="@(string.IsNullOrEmpty(Model.Email) ? "empty" : "good")"></span>
			<span id="email-check-message"></span>
		</div>
		<div class="save-container">
			<span id="email-save-settings" class="btn-do disabled">Save</span>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(function() {
		analyticsReports.report("report-page", { page: "Settings" });
	});
</script>