﻿<div class="tabs-container">
	<a href="/mailbox" class="tab mailbox selected">Mailbox</a>
</div>
<div class="safari-conversation-box">
	<div class="safari-browser-message">
		Welcome to ShopYourWay Messaging!<br/>
		<span id="init-mailbox" style="text-decoration: underline; cursor: pointer;">Click here to continue</span>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$('#init-mailbox').click(function() {
			window.open('/safari-cookie-fix', '_blank', 'height=160,width=380,resizable=no,scrollbars=no,status=no,toolbar=no');
		});
	});
</script>