﻿
<style>
	#main
	{
		min-height: 0;
	}
</style>

<script type="text/javascript">
	$(function() {
		window.opener.location.href = window.opener.location.href + '&refresh=true';
		window.close();

		$('#close-window').click(function() {
			window.close();
		});
	});
</script>

<span style="display: inline-block; height: 50px; width: 358px; text-align: center; margin-top: 60px;">
	The Messages App was successfully initialized.<br/>
	<span id="close-window" style="cursor: pointer; text-decoration: underline;">Click here</span> to close this window.
</span>