﻿@{
	Layout = "../Shared/_MobileLayout.cshtml";
}

@section headerJavascript
{
	<script type="text/javascript">
		window.opponentId = @Html.Raw(ViewBag.OpponentId + ";")
	</script>
}

<div class="top-spacer"></div>

<div ng-app="sywMessages" ng-controller="messagesCtrl">

	<div class="msg-wrap" messeges messages-data="messagesData">
		<div id="messages" class="msg-container">
			<div style="width: 100%; height: 100%; display: table;">
				<div style="width: 100%; height: 100%; display: table-cell; vertical-align: bottom; padding: 10px 0;">

					<div ng-repeat="message in messagesData.Messages" class="msg-container-inner">

						@*----------------user friend-------------*@
						<div class="msg-friend" ng-if="message.AuthorId != messagesData.CurrentEntityId">

							<div class="msg-userfirend-content">

								<div class="msg-userfirend-img msg-friend-img" fix-image-directive="{{message.AuthorImage}}"></div>
								<div class="arrow-left" style="float: left; margin-top: 20px"></div>

								<div class="msg-userfirend-msg msg-friend-msg" fix-message-width>
									<div class="msg-userfirend-msg-title msg-firend-msg-title">
										<span>{{message.AuthorName}}</span>
										<span ng-if="message.DateTime!='Now'">{{convertDateTime(message.DateTime, 'MMMM D YYYY - HH:MM')}}</span>
										<span ng-if="message.DateTime=='Now'">{{message.DateTime}}</span>
									</div>
									{{message.Content}}
								</div>
								<div class="clear"></div>
							</div>
						</div>

						@*----------------user-------------*@
						<div class="msg-user" ng-if="message.AuthorId == messagesData.CurrentEntityId">
							<div class="msg-userfirend-content ">

								<div class="msg-userfirend-img msg-user-img" fix-image-directive="{{message.AuthorImage}}"></div>
								<div class="arrow-right" style="float: right; margin-top: 20px"></div>

								<div class="msg-userfirend-msg msg-user-msg" fix-message-width>
									<div class="msg-userfirend-msg-title msg-user-msg-title ">
										<span>{{message.AuthorName}}</span>
										<span ng-if="message.DateTime!='Now'">{{convertDateTime(message.DateTime, 'MMMM D YYYY - HH:MM')}}</span>
										<span ng-if="message.DateTime=='Now'">{{message.DateTime}}</span>
									</div>
									{{message.Content}}
								</div>
								<div class="clear"></div>
							</div>
						</div>

						<div style="clear: both"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="msg-write">
			<div class="new-message-input-wrapper">
				<textarea id="newMessage" maxlength="2000" ng-model="newMeesage" ng-focus="typing();" ng-blur="untyping();"></textarea>
				<input type="button" value="send" ng-click="sendNewMessage(newMeesage);" />
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>
