﻿*
{
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	font-family: Arial;
	font-size: 26px;
	-webkit-tap-highlight-color: transparent;
}

/*body
{
	max-width: 640px;
	overflow: hidden;
}*/

.clear
{
	font-size: 0;
	width: 100%;
	height: 0;
	clear: both;
}

textarea
{
}

div:not(.msg-wrap), span
{
}

.msg-wrap
{
	background: #ededed;
}

	.msg-wrap .msg-container
	{
		margin: 0 auto;
		overflow: auto;
	}

		.msg-wrap .msg-container .msg-container-inner
		{
			min-height: 100px;
			height: auto;
			margin-top: 50px;
		}

			.msg-wrap .msg-container .msg-container-inner:first-child
			{
				margin-top: 0px;
			}

div.msg-wrap > .msg-userfirend-content
{
	min-height: 50px;
	height: auto;
}

div.msg-userfirend-content > .msg-userfirend-img
{
	width: 80px;
	height: 80px;
	text-align: center;
	margin: 0 auto;
	border-radius: 55px;
	overflow: hidden;
	background-size: cover!important;
}

div.msg-userfirend-content > .msg-userfirend-msg
{
	min-height: 50px;
	height: auto;
	border-radius: 5px;
	padding: 15px;
	word-wrap: break-word;
}

div.msg-userfirend-msg-title span:first-child
{
	float: left;
}

div.msg-userfirend-msg-title span:last-child
{
	float: right;
}

.msg-wrap .msg-friend .msg-userfirend-content .msg-userfirend-msg-title,
.msg-wrap .msg-user .msg-userfirend-content .msg-userfirend-msg-title
{
	line-height: 18px;
	padding-bottom: 30px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #dadada;
}

.msg-wrap .msg-friend
{
	float: left;
	width: 100%;
}

	.msg-wrap .msg-friend .msg-userfirend-content .msg-friend-img
	{
		float: left;
		margin-right: 15px;
	}

	.msg-wrap .msg-friend .msg-userfirend-content .arrow-left
	{
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-right: 10px solid #fff;
	}

	.msg-wrap .msg-friend .msg-userfirend-content .msg-friend-msg
	{
		float: left;
		color: #7f7f7f;
		background: #fff;
	}

.msg-wrap .msg-firend .msg-userfirend-content .msg-firend-msg-title
{
	color: #7f7f7f;
}

.msg-wrap .msg-user
{
	float: right;
	width: 100%;
}

	.msg-wrap .msg-user .msg-userfirend-content .msg-user-img
	{
		float: right;
		margin-left: 15px;
	}

	.msg-wrap .msg-user .msg-userfirend-content .arrow-right
	{
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
		border-left: 9px solid #6dc3b8;
	}

	.msg-wrap .msg-user .msg-userfirend-content .msg-user-msg
	{
		float: right;
		color: #fff;
		background-image: -webkit-linear-gradient(top, #7ccdc2, #55b3a7);
		background-image: -moz-linear-gradient(top, #7ccdc2, #55b3a7);
		background-image: -ms-linear-gradient(top, #7ccdc2, #55b3a7);
		background-image: -o-linear-gradient(top, #7ccdc2, #55b3a7);
		background-image: linear-gradient(top, #7ccdc2, #55b3a7);
	}

	.msg-wrap .msg-user .msg-userfirend-content .msg-user-msg-title
	{
		color: #fff;
	}

.msg-user-msg-title span, .msg-firend-msg-title span
{
	font-size: 22px;
}

.msg-wrap .msg-write
{
	width: 100%;
	position: fixed;
	bottom: 0;
	border-top: 1px solid #bcbcbc;
	background: #fff;
}

.msg-wrap textarea
{
	min-height: 16px;
	max-height: 60px;
	resize: none;
	padding: 10px;
	float: left;
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	-moz-box-shadow: inset 2px 3px 5px #e6e6e6;
	-webkit-box-shadow: inset 2px 3px 5px #e6e6e6;
	box-shadow: inset 2px 3px 5px #e6e6e6;
}

.msg-wrap input[type=button]
{
	float: right;
	width: 94px;
	height: 50px;
	cursor: pointer;
	background: #55b3a7;
	color: #fff;
	border: none;
	border-radius: 25px;
}

.new-message-input-wrapper
{
	margin: 9px auto;
	margin-top: 10px;
}

.top-spacer
{
	height: 10px;
	background-color: #ededed;
}
