﻿@using SYW.App.Messages.Web.Services
@using StackExchange.Profiling;
@using SquishIt.Framework
@using SYW.App.Messages.Web.Cookies

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">

	<title>@ViewBag.Title</title>
	
	@MvcHtmlString.Create(Bundle.Css()
									.Add("~/Content/Site.css?v=200")
									.Add("~/Content/jScrollPane.css")
									.Render("~/Content/combined_#.css"))

	@RenderSection("css", false)


    @{
	    var sessionSalt = new SessionSaltProvider().Provide();
    }

	<script type="text/javascript">
		var sessionSalt = {
			key: '@sessionSalt.Key',
			value: '@sessionSalt.Value'
		};
	</script>

	@MvcHtmlString.Create(Bundle.JavaScript()
									.Add("~/Scripts/jquery-1.7.2.js")
									.Add("~/Scripts/jquery-ui-1.8.23.custom.min.js")
									.Add("~/Scripts/jquery.cookie.js")
									.Add("~/Scripts/jquery.jscrollpane.min.js")
									.Add("~/Scripts/jquery.mousewheel.js")
									.Add("~/Scripts/session-salt-appender.js")
									.Add("~/Scripts/timezone.js")
									.Add("~/Scripts/modernizr-1.7.min.js")
									.Add("~/Scripts/detectmobilebrowser.js")
									.Add("~/Scripts/jqeury.postmessage.js")
									.Add("~/Scripts/hammer.min.js")
									.Add("~/Scripts/jquery.hammer.min.js")
									.Add("~/Scripts/moment.min.js")
									.Add("~/Scripts/flowtype.js")
									.Render("~/Scripts/combined_jquery_#.js"))

	@MvcHtmlString.Create(Bundle.JavaScript()
									.Add("~/Scripts/popups/contextual-popover.js")
									.Add("~/Scripts/popups/contextual-tooltip.js")
									.Add("~/Scripts/popups/light-modal.js")
									.Add("~/Scripts/popups/next-to.js")
									.Add("~/Scripts/popups/popup.js")
									.Render("~/Scripts/combined_popup_#.js"))

	@MvcHtmlString.Create(Bundle.JavaScript()
									.Add("~/Scripts/analytics/s_code.js")
									.Add("~/Scripts/analytics/analytics.js")
									.Add("~/Scripts/analytics/analytics-reports.js")
									.Add("~/Scripts/analytics/omniture-data.js")
									.Render("~/Scripts/analytics#.js"))

	@MvcHtmlString.Create(Bundle.JavaScript()
									.Add("~/Scripts/layout.js?v=1")
									.Add("~/Scripts/common.js")
									.Add("~/Scripts/helpers.js")
									.Add("~/Scripts/new-conversation.js")
									.Add("~/Scripts/new-message.js")
									.Add("~/Scripts/more-actions.js")
									.Add("~/Scripts/conversation.js")
									.Add("~/Scripts/html-message.js")
									.Add("~/Scripts/post-message.js")
									.Add("~/Scripts/messages-loader.js")
									.Add("~/Scripts/settings.js")
									.Add("~/Scripts/infinite-scroll.js")
									.Add("~/Scripts/system-message.js?v=7")
									.Add("~/Scripts/messages-browsing.js")
                                    .Add("~/Scripts/banner-analytics.js")
									.Render("~/Scripts/combined_#.js"))

	@RenderSection("js", false)

	<script type="text/javascript" src="https://www.shopyourway.com/secured/platform/loader"> </script>

	<script src="@Url.VersionedContent("~/Scripts/jquery.signalR-0.5.2.min.js")" type="text/javascript"> </script>

	@if (ViewData["IsMobileBrowser"] != null && ViewData["IsMobileBrowser"].Equals(false))
 {
		<script type="text/javascript" src="/signalr/hubs"> </script>
 }
</head>
<body id="@ViewBag.BodyId">

	@Html.Partial("~/Views/Shared/_SafariHandler.cshtml")

	<div id="main">
		@RenderBody()
	</div>

	@MiniProfiler.RenderIncludes()

	<script type="text/javascript">
		if (window.location.href.indexOf('&refresh=true') > 0)
			window.location.href = '/mailbox';
	</script>
</body>
</html>
