﻿@using System.Text.RegularExpressions
@using SYW.App.Messages.Web.Services
@using SquishIt.Framework
@using SYW.App.Messages.Web.Cookies

@{
	var signalrUrl = Request.Url.Scheme + "://" + Regex.Replace(Request.Url.Authority, @":(\d)*", string.Empty) + "/signalr/hubs";
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<meta name="viewport" content="width=640, user-scalable=0">
	@*<meta name="viewport" content="user-scalable=yes; width=device-width; height=device-height; initial-scale=1.0;" />*@
	<title>@ViewBag.Title</title>

	@MvcHtmlString.Create(Bundle.Css()
								  .Add("~/Content/jScrollPane.css")
								  .Add("~/Content/Styles/Mobile/mobilecss.css")
								  .Render("~/Content/combined_#.css"))

	@RenderSection("headerCss", false)

	@{
        var sessionSalt = new SessionSaltProvider().Provide();
	}

	<script type="text/javascript">
		var sessionSalt = {
			key: '@sessionSalt.Key',
        	value: '@sessionSalt.Value'
        };
	</script>

	@MvcHtmlString.Create(Bundle.JavaScript()
								  .Add("~/Scripts/jquery-1.7.2.js")
								  .Add("~/Scripts/jquery-ui-1.8.11.js")
								  .Add("~/Scripts/session-salt-appender.js")
								  .Add("~/Scripts/angular.min.js")
								  .Add("~/Scripts/hammer.min.js")
								  .Add("~/Scripts/jquery.hammer.min.js")
								  .Add("~/Scripts/moment.min.js")
								  .Add("~/Scripts/helpers.js")
								  .Add("~/Scripts/common.js")
								  .Render("~/Scripts/combined_jquery_#.js"))

	@RenderSection("headerJavascript", false)

	<script type="text/javascript" src="@Url.Content("~/Scripts/mobile/mobileApp.js")"> </script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/mobile/controllers/messagesController.js")"> </script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/mobile/directive/messagesDirectives.js")"> </script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/mobile/services/signalrService.js")"> </script>

	<script type="text/javascript" src="@Url.VersionedContent("~/Scripts/jquery.signalR-0.5.2.min.js")"> </script>
	<script type="text/javascript" src="@signalrUrl"> </script>

	<script type="text/javascript" src="https://shopyourway.com/platform/secured/loader"> </script>
</head>
<body class="mobile">
	<div id="main">
		@RenderBody()
	</div>
</body>
<script type="text/javascript">
	if ($(window).width() > window.innerWidth) {
		alert('rescaling');
		$('html').css(
			{
				'transform': 'scale(.5)',
				'-o-transform': 'scale(.5)',
				'-webkit-transform': 'scale(.5)',
				'-moz-transform': 'scale(.5)'
			});
	}
</script>
</html>
