﻿@{
	if (!Context.Request.Browser.Browser.ToLower().Contains("safari"))
	{
		return;
	}

	var token = Context.Request.QueryString["token"];
	var isFirstLoad = !string.IsNullOrEmpty(token);
	if (!isFirstLoad)
	{
		return;
	}
	<div id="cookie-problem-message" class="hidden">
		<script type="text/javascript">
			$(function() {
				if (document.cookie.indexOf('@token') < 0) { //if token cookie is not set at Safari.
					$('#main').hide();
					$('#cookie-problem-message').show(); //force the user to interact so we can set the cookie
				} else
					$("#main").show();
			});
		</script>
		@Html.Partial("~/Views/Configuration/FixSafariCookiePage.cshtml")
	</div>
}