﻿@model System.Web.Mvc.HandleErrorInfo

@{
	ViewBag.Title = "Error";
}

<style>
	body
	{
		background-color: #E9E7E3;
		padding: 200px
	}

	.errors-container
	{
		text-align: center
	}
</style>
<div class="errors-container">
	<img src="/Content/support.png"/>
	<br/>
	Oops... Well that's a first...
</div>