﻿@{
	ViewBag.Title = "Maintenance";
}

<style>
	body
	{
		background-color: #E9E7E3;
		padding: 200px
	}

	.errors-container
	{
		text-align: center
	}
</style>
<div class="errors-container">
	<img src="/Content/support.png"/>
	<br/>
	The messasging system in currently down for maintenance.
</div>